//fonts
@font-face {
  font-family: "Baunk";
  src: url("~/assets/fonts/Baunk.ttf") /* IE9 Compat Mode */;
  src: url("~/assets/fonts/Baunk.otf") /* IE9 Compat Mode */;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Light.ttf") /* IE9 Compat Mode */;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Regular.ttf") /* IE9 Compat Mode */;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Medium.ttf") /* IE9 Compat Mode */;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-SemiBold.ttf") /* IE9 Compat Mode */;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Bold.ttf") /* IE9 Compat Mode */;
  font-weight: 700;
  font-style: normal;
}

// My Custom Reset

html,
.__nuxt {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--text-base-size);
  overflow-x: hidden;
  background-color: var(--white-01);
}
.page {
  padding: 0%;
}
a {
  text-decoration: none;
}
.baunk {
  font-family: var(--heading-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  margin: 0;
  line-height: 0.9;
}
h1 {
  font-size: clamp(16px, var(--text-xxxl), 160px);
}

h2 {
  font-size: clamp(16px, var(--text-xxl), 120px);
  @media screen and (max-width: 561px) {
    font-size: clamp(40px, var(--text-xxxl), 70px);
  }
}
h3 {
  font-size: clamp(16px, var(--text-xl), 88px);
  @media screen and (max-width: 1279px) {
    font-size: clamp(40px, var(--text-xl), 70px);
  }
  @media screen and (max-width: 561px) {
    font-size: clamp(28px, var(--text-xxl), 70px);
  }
}

h4 {
  font-size: clamp(16px, var(--text-lg), 80px);
  @media screen and (max-width: 1279px) {
    font-size: clamp(30px, var(--text-lg), 60px);
  }
  @media screen and (max-width: 561px) {
    font-size: clamp(20px, var(--text-xl), 70px);
  }
}
h5 {
  font-size: var(--text-md);
}

// Text Elements
.uppercase {
  text-transform: uppercase;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.sub1-medium {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: clamp(16px, var(--text-lg), 40px);
  line-height: 120%;
}

.sub2-light {
  font-weight: 300;
  font-size: clamp(16px, var(--text-md), 32px);
  line-height: 125%;
}

.sub2-medium {
  font-weight: 500;
  font-size: clamp(16px, var(--text-md), 32px);
  line-height: 125%;
}

.sub2-regular {
  font-weight: 400;
  font-size: clamp(16px, var(--text-md), 32px);
  line-height: 125%;
}

.sub3-medium {
  font-weight: 500;
  font-size: clamp(16px, var(--text-sm), 20px);
  line-height: 180%;
  @media screen and (max-width: 1279px) {
    font-size: clamp(12px, var(--text-sm), 20px);
  }
}

.text1-semibold {
  font-weight: 600;
  font-size: clamp(16px, calc(var(--text-md) - 4px), 24px);
  line-height: 133%;
  @media screen and (max-width: 1279px) {
    font-size: 20px;
  }
}

.text2-light {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  @media screen and (max-width: 1279px) {
    font-size: 12px;
  }
}

.text2-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  @media screen and (max-width: 1279px) {
    font-size: 12px;
  }
}

.text2-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  @media screen and (max-width: 1279px) {
    font-size: 12px;
  }
}

.text2-semibold {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  @media screen and (max-width: 1279px) {
    font-size: 12px;
  }
}

.button-medium {
  font-weight: 500;
  font-size: clamp(16px, var(--text-sm), 20px);
  line-height: 160%;
  @media screen and (max-width: 1279px) {
    font-size: clamp(14px, var(--text-sm), 20px);
  }
}

.button-bold {
  font-weight: 700;
  font-size: clamp(16px, var(--text-sm), 20px);
  line-height: 160%;
  @media screen and (max-width: 1279px) {
    font-size: clamp(14px, var(--text-sm), 20px);
  }
}

// Misc Elements
.full-length-divider {
  width: 4000px;
  transform: translateX(-2000px);
}

.flex {
  display: flex;
}
