//fonts
@font-face {
  font-family: "Baunk";
  src: url("~/assets/fonts/Baunk.ttf") /* IE9 Compat Mode */;
  src: url("~/assets/fonts/Baunk.otf") /* IE9 Compat Mode */;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Light.ttf") /* IE9 Compat Mode */;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Regular.ttf") /* IE9 Compat Mode */;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Medium.ttf") /* IE9 Compat Mode */;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-SemiBold.ttf") /* IE9 Compat Mode */;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SplineSansMono";
  src: url("~/assets/fonts/SplineSansMono-Bold.ttf") /* IE9 Compat Mode */;
  font-weight: 700;
  font-style: normal;
}

// My Custom Reset

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--text-base-size);
  overflow-x: hidden;
}
.page {
  padding: 0%;
  div {
    max-width: 1500px;
  }
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  margin: 0;
  line-height: 0.9;
}
h1 {
  font-size: clamp(16px, var(--text-xxxl), 120px);
}

h2 {
  font-size: clamp(16px, var(--text-xxl), 108px);
}
h3 {
  font-size: clamp(16px, var(--text-xl), 88px);
}

h4 {
  font-size: clamp(16px, var(--text-lg), 40px);
}
h5 {
  font-size: var(--text-md);
}

// Text Elements
.uppercase {
  text-transform: uppercase;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.subtitle-40-medium {
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: clamp(16px, var(--text-lg), 40px);
  line-height: 120%;
}

.subtitle-32-light {
  font-weight: 300;
  font-size: clamp(16px, var(--text-md), 32px);
  line-height: 125%;
}

.subtitle-32-medium {
  font-weight: 500;
  font-size: clamp(16px, var(--text-md), 32px);
  line-height: 125%;
}

.subtitle-32-regular {
  font-weight: 400;
  font-size: clamp(16px, var(--text-md), 32px);
  line-height: 125%;
}

.subtitle-20-medium {
  font-weight: 500;
  font-size: clamp(16px, var(--text-sm), 20px);
  line-height: 180%;
}

.text-24-semibold {
  font-weight: 600;
  font-size: clamp(16px, calc(var(--text-md) - 4px), 24px);
  line-height: 133%;
}

.text-16-light {
  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
}

.text-16-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.text-16-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
}

.text-16-semibold {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
}

.button-medium {
  font-weight: 500;
  font-size: clamp(16px, var(--text-sm), 20px);
  line-height: 160%;
}

.button-bold {
  font-weight: 700;
  font-size: clamp(16px, var(--text-sm), 20px);
  line-height: 160%;
}
